.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.app-status {
  position: absolute;
  color: rgba(255,255,255,0.3);
}

.form-control {
  text-align: center;
}

.dashboard-header h1 {
  margin-top: 1.5rem;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.dashboard-header {
  background-color: #282c34;
  color: #fff;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.dashboard-header-content {
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
  text-align: center;
}

.box {
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 2px 2px 40px rgba(0,0,0,0.8);
}

.box-title {
  display: flex;
}

.box-property {
  padding: 0.8rem 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.properties {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 150px));
  margin-top: 2rem;
}

.box-body {
  width: 100%;
  min-height: 30px;
  background-color: white;
}

.box-body h3 {
  text-align: left;
  font-weight: 600;
}

.chart-comparison {
  margin-top: -3rem;
}

.list-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.list-item-btn {
  flex: 1;
  text-align: right;
}

.list-item-btn button {
  font-size: 1rem;
  padding: 0.2rem 0.6rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
